*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --max-width-content: 70rem;
    --max-width-page: 80rem;
    --spacing-reg: 1rem;
    --spacing-dbl: calc(var(--spacing-reg)*2);
    --spacing-hlf: calc(var(--spacing-reg)/2);
    --spacing-qtr: calc(var(--spacing-reg)/4);
    --color-primary: #0083CA;
    --color-primary-dark: #0B0D17;
    --color-accent: #F47920;
    --tint-black-100: rgba(0, 0, 0, 0.1);
    --tint-black-200: rgba(0, 0, 0, 0.2);
    --tint-black-700: rgba(0, 0, 0, 0.7);
    --tint-white-100: rgba(255, 255, 255, 0.1);
    --tint-white-200: rgba(255, 255, 255, 0.2);
    --box-shadow: 0 0 6rem var(--tint-black-100);
}

 /* Hide scrollbar for Chrome, Safari and Opera */
 &&::-webkit-scrollbar {
    display: none;
}

body {
    font-family: Helvetica, Arial, sans-serif;
    max-width: var(--max-width-page);

    /* Hide scrollbar for IE, Edge and Firefox */
    -ms-overflow-style: none;
    /* IE and Edge */
    scrollbar-width: none;
    margin: 0 auto;
}

a {
    text-decoration: none;
}

button{
    border: none;
    padding: var(--spacing-hlf);
    border-radius: var(--spacing-qtr);
    color: white;
    font-weight: bold;
    width: fit-content;
}

input{
    border: none;
    border-radius: var(--spacing-qtr);
    height: 2.25rem;
    padding: 0 1rem;
    box-shadow: 0 var(--spacing-qtr) var(--spacing-qtr) var(--tint-black-200);
}

a,
button {
    cursor: pointer;
}

.content-container {
    background-color: white;
    width: 100%;
    max-width: var(--max-width-content);
    margin: 0 auto;
}

.header {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 50rem;
}

.hero-bg-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero-content {
    position: absolute;
    width: 100%;
    top: 0;
    bottom: 0;
    max-width: var(--max-width-content);
    padding: var(--spacing-dbl);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-menu {
    display: flex;
    gap: var(--spacing-reg);
}

.nav-menu-item {
    list-style: none;
}

.nav-menu-item__social {
    list-style: none;
    background-color: var(--tint-white-200);
    width: var(--spacing-dbl);
    height: var(--spacing-dbl);
    border-radius: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
}

.nav-menu-item-link {
    color: white;
}

.hero-cta{
    height: 75%;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-dbl);
    justify-content: center;
}

.hero-message{
    color: white;
    text-shadow: 0px 4px var(--spacing-reg) var(--tint-black-700);
    font-size: 3rem;
}

.highlight--hero{
    display: block;
    font-size: 4rem;
}

.button-large{
    background-color: var(--color-accent);
    padding: var(--spacing-hlf) var(--spacing-dbl);
    height: 2.25rem;
}

.button-large--submit{
    color: white;
    font-weight: bold;
}

.booking-form-container{
    padding: var(--spacing-dbl);
    max-width: var(--max-width-content);
    background-color: var(--color-primary);
    position: relative;
    transform: translateY(-50%);
    border-radius: var(--spacing-qtr);
    box-shadow: var(--spacing-qtr) var(--spacing-qtr) var(--spacing-reg) var(--tint-black-200);
}

.gallery, .gallery-text-container{
    display: flex;
    flex-direction: column;
    gap: var(--spacing-reg);
    align-items: center;
}

.gallery-items-container {
    width: 100%;  
    min-height: 24rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 16px 16px;
    grid-auto-flow: row;
    grid-template-areas:
      "top-left top-right top-right"
      "top-left center center-right"
      "bottom-left bottom-left center-right"
      "bottom-left bottom-left bottom-right";
  }
  
  .gallery-item--top-left { grid-area: top-left; }
  
  .gallery-item--top-right { grid-area: top-right; }
  
  .gallery-item--center { grid-area: center; }
  
  .gallery-item--center-right { grid-area: center-right; }
  
  .gallery-item--bottom-left { grid-area: bottom-left; }
  
  .gallery-item--bottom-right { grid-area: bottom-right; }

  .gallery-item{
    background-color: gray;
    overflow: hidden;
  }

  .gallery-item-img{
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  

